
body{
    display: flex;
    justify-content: center;
    background: lightgrey
}

.card{
    width: 60%;
    margin-top: 80px;
    padding: 30px
}

select{
    margin-bottom: 30px
}

label{
    font-weight: 400
}